---
---

body {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

iframe {
    border: 0;
}

#sidebar {
    overflow-x: hidden;
}

#abstract h2 {
    display: none;
}

.column {
    padding: 0 2rem 5rem;
}

@media screen and (min-width: 768px) {
    html, body, article, .column {
        height: 100%;
        overflow: hidden;
    }

    article {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .column {
        height: 100%;
        overflow: auto;
    }

    #main {
        -webkit-flex: 2;
        -moz-flex: 2;
        -ms-flex: 2;
        -o-flex: 2;
        flex: 2;
        padding: 0 2rem 5rem;
    }

    #sidebar {
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        -o-flex: 1;
        flex: 1;
        padding: 0;
    }

    #sidebar > div > *,
    #sidebar > aside > * {
        margin: 0 2rem;
    }

    #sidebar h2 {
        font-size: 150%;
        font-weight: 200;
        margin: 2rem 0;
        padding: 1rem 1rem;
        background: #eee;
    }

    #sidebar div:first-of-type h2 {
        margin-top: 0;
    }

    #abstract {
        padding: 1em 0;
    }

    #metrics h2 {
        display: none;
    }

    .altmetric-embed > div:first-child {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .altmetric-embed p {
        display: none;
    }
}

header {
    margin: 4rem 0;
    text-align: center;
}

header > * {
    margin: 1.5rem 0;
}

h1 {
    font-weight: 100;
    font-size: 3em;
}

h2 {
    font-weight: 100;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

article p {
    font-size: 110%;
    color: #333;
}

#abstract p {
    font-size: 120%;
}

#abstract p:last-of-type {
    margin-bottom: 0;
}

#authors-list {
    font-size: 120%;
}

.inline-list span:not(:last-child):after {
    content: ", ";
}

.author {
    margin: 2rem 0;
}

#figures > div:not(:last-of-type) {
    margin-bottom: 4rem;
}

figure img {
    max-width: 100%;
}

@media print {
    a[href]:after {
        content: none;
    }
}
