<div itemscope itemtype="http://schema.org/Organization" itemid="affiliation-{{ affiliation.name | slugify }}">
  <h3 itemprop="name">
    {% if affiliation.url %}
      <a href="{{ affiliation.url }}" itemprop="url">{{ affiliation.name }}</a>
    {% else %}
      {{ affiliation.name }}
    {% endif %}
  </h3>

  {% if affiliation.address %}
    <div itemprop="address" class="affiliation-address">{{ affiliation.address }}</div>
  {% endif %}

  <div class="inline-list">
    {% for member in affiliation.members %}
        <span>{{ member.name }}</span>
    {% endfor %}
  </div>
</div>
