<ul class="list-unstyled">
    {% for author in include.authors %}
        <li class="author" itemprop="author" itemscope itemtype="http://schema.org/Person" itemid="{{ author.sameAs }}">
            <ul class="list-group">
                <li itemprop="name" class="list-group-item">
                      {% if author.url %}
                          <a href="{{ author.url }}">{{ author.name }}</a>
                      {% else %}
                          <span>{{ author.name }}</span>
                      {% endif %}

                      {% if author.email %}
                        <span class="badge">
                            <a itemprop="email" href="mailto:{{ author.email }}" target="_blank">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </a>
                        </span>
                      {% endif %}
                </li>

                {% if author.affiliations %}
                    {% for affiliation in author.affiliations %}
                        <li itemprop="affiliation" itemscope itemtype="http://schema.org/Organization" class="list-group-item">
                            {% if affiliation.url %}
                                <a href="{{ affiliation.url }}" itemprop="url">
                                  <span itemprop="name">{{ affiliation.name }}</span>
                                </a>
                            {% else %}
                                <span itemprop="name">{{ affiliation.name }}</span>
                            {% endif %}

                            {% if affiliation.address %}
                              <meta itemprop="address" content="{{ affiliation.address }}">

                              <span class="badge">
                                <a href="https://www.google.com/maps?q={{ affiliation.address }}" target="_blank">
                                    <span class="glyphicon glyphicon-globe"></span>
                                </a>
                              </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
    {% endfor %}
</ul>
