<span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person" {% if author.orcid %}itemid="{{ author.orcid }}"{% endif %}>
    {% if author.orcid %}
      <a href="https://orcid.org/{{ author.orcid }}" itemprop="sameAs" target="_blank"
        data-orcid="{{ author.orcid }}" title="View this author's ORCID profile"></a>
    {% endif %}

    <span itemprop="name">
      {% if author.url %}
        <a href="{{ author.url }}" itemprop="url">{{ author.name }}</a>
      {% else %}
        {{ author.name }}
      {% endif %}
    </span>

    {% if author.email %}
      <meta itemprop="email" content="{{ author.email }}">
    {% endif %}

    {% for affiliation in article.affiliations %}
      {% assign ref = forloop.index %}
      {% for member in affiliation.members %}
        {% if member.id == author.id %}
          <meta itemprop="affiliation" itemscope itemtype="http://schema.org/Organization" itemid="affiliation-{{ affiliation.name | slugify }}">
        {% endif %}
      {% endfor %}
    {% endfor %}
</span>
