<div itemprop="funding" itemscope itemtype="http://schema.org/PayAction">
  <div itemprop="agent">
    <h3 itemprop="name">
      {% if funder.url %}
        <a href="{{ funder.url }}" target="_blank" itemprop="url">{{ funder.name }}</a>
      {% else %}
        {{ funder.name }}
      {% endif %}
      ({{ award.name }})
    </h3>
  </div>

  {% if award.recipients %}
    <div class="inline-list">
      {% for recipient in award.recipients %}
        <span itemprop="recipient" itemscope itemtype="http://schema.org/Person" {% if recipient.orcid %}itemid="{{ recipient.orcid }}"{% endif %}>{{ recipient.name }}</span>
      {% endfor %}
    </div>
  {% endif %}
</div>
