<div itemprop="contributor" itemscope itemtype="http://schema.org/Role">
  <h3 itemprop="name">
    {% if contribution.url %}
      <a href="{{ contribution.url }}" target="_blank" itemprop="url roleName">{{ contribution.name }}</a>
    {% else %}
      {{ contribution.name }}
    {% endif %}
  </h3>

  <div class="inline-list">
    {% for contributor in contribution.contributors %}
      <span itemprop="contributor" itemscope itemtype="http://schema.org/Person" {% if contributor.orcid %}itemid="{{ contributor.orcid }}"{% endif %}>{{ contributor.name }}</span>
    {% endfor %}
  </div>
</div>
