<ul class="grants list-unstyled">
    {% for grant in include.grants %}
        <li itemprop="funding" itemscope itemtype="http://schema.org/PayAction">
            {% if grant.url %}
                <h3>
                  <a href="{{ grant.url }}" target="_blank" itemprop="url">
                    <span itemprop="name">{{ grant.agent.name }} ({{ grant.name }})</span>
                  </a>
                </h3>
            {% else %}
                <h3 itemprop="name">{{ grant.agent.name }} ({{ grant.name }})</h3>
            {% endif %}

            {% if grant.recipients %}
              <ul class="list-unstyled">
                  {% for recipient in grant.recipients %}
                      <li itemprop="recipient" itemscope itemtype="http://schema.org/Person"
                        itemid="{{ contributor.sameAs }}">{{ recipient.name }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
