<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    {% assign article = site.data.article %}

    <!-- metadata -->
    <title>{{ article.title }}</title>
    <meta name="description" content="{{ article.description }}">

    <!-- styles -->
    <link rel="stylesheet" media="screen"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic">

    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}/styles/screen.css">
    <link rel="stylesheet" media="screen and (min-width: 768px)" href="{{ site.baseurl }}/styles/wide.css">
    <link rel="stylesheet" media="print" href="{{ site.baseurl }}/styles/print.css">

    <!-- MathJax config -->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            messageStyle: "none",
            "HTML-CSS": {
                linebreaks: { automatic: true },
                scale: 80
            },
            menuSettings: {
                zoom: "Click"
            }
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/3.1.0/markdown-it.js"></script>

    <!-- scripts -->
    {% for javascript in site.javascripts %}
        <script src="{{ javascript[1] }}" async></script>
    {% endfor %}

    <script src="article.js"></script>
</head>
<body>
    <!-- article -->
    <article itemscope itemtype="http://schema.org/ScholarlyArticle">
        <meta itemprop="name" content="{{ article.title }}">

        <!-- main column -->
        <div class="column" id="main">
            <!-- header -->
            <header {% if page.header %}class="has-background"{% endif %}>
                {% if page.header %}
                    <div style="background-image:url({{ page.header }})" class="header-background"></div>
                {% endif %}

                <div horizontal>
                    <div flex>
                        <!-- title -->
                        {% capture title %}# {{ article.title }}{% endcapture %}
                        {{ title | markdownify }}
                    </div>

                    {% if article.date %}
                    <div vertical class="article-date">
                        <div flex></div>
                        <time itemprop="datePublished"
                            datetime="{{ article.date | date: '%Y-%m-%d' }}">{{ article.date | date: '%B %-d, %Y' }}</time>
                    </div>
                    {% endif %}
                </div>
            </header>

            <!-- sections -->
            {% assign sections = site.sections | sort:"order" %}
            {% for section in sections %}
                <section data-section="{{ section.title | slugify }}"
                    {% if section.property %}itemprop="{{ section.property}}"{% endif %}>
                    {% capture title %}## {{ section.title }}{% endcapture %}
                    {{ title | markdownify }}

                    {{ section.content }}
                </section>
            {% endfor %}
        </div>

        <!-- side column -->
        <div class="column" id="sidebar">
            {% if article.doi %}
                <!-- metrics -->
                <aside id="metrics" class="hidden-print">
                    <!--<h2>Metrics</h2>-->

                    <div class="altmetric-embed"
                        data-badge-type="medium-donut"
                        data-badge-details="below"
                        data-hide-no-mentions="true"
                        data-doi="{{ article.doi}}"></div>

                    <script src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js" async></script>
                </aside>
            {% endif %}

            {% if article.doi %}
                <!-- doi -->
                <div id="doi">
                    <h2>DOI</h2>
                    <div><a href="https://dx.doi.org/{{ article.doi }}" itemprop="sameAs">{{ article.doi }}</a></div>
                </div>
            {% endif %}

            <!-- authors -->
            <div id="authors">
                <h2>Authors</h2>
                {% include authors.html authors=article.authors %}
            </div>

            <!-- figures -->
            {% if site.figures %}
                <div id="figures">
                    <h2>Figures</h2>
                    {% assign figures = site.figures | sort:"order" %}
                    {% for figure in figures %}
                        <figure id="{{ figure.label | slugify }}">
                            <figcaption>
                                {% capture heading %}<a href="{{ site.baseurl }}{{ figure.url }}" class="figure-link">**{{ figure.label }}**</a>: {{ figure.title }}{% endcapture %}
                                {{ heading | markdownify }}

                                {{ figure.description | markdownify }}
                            </figcaption>

                            <div class="figure-wrap">
                                {% if figure.image %}
                                    <a href="{{ site.baseurl }}{{ figure.url }}" class="figure-link"><img src="{{ figure.image }}"></a>
                                {% else %}
                                    {{ figure.content | markdownify }}
                                {% endif %}
                            </div>
                        </figure>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- contributions -->
            {% if article.contributions %}
                <div id="contributions">
                    <h2>Contributions</h2>
                    {% include contributions.html contributions=article.contributions %}
                </div>
            {% endif %}

            <!-- keywords -->
            {% if article.keywords %}
                <div id="keywords" itemprop="keywords">
                    <h2>Keywords</h2>

                    <div class="inline-list">
                        {% for keyword in article.keywords %}
                            <span>{{ keyword }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- references -->
            <section id="references">
                <h2>References</h2>
                {% capture references %}{% include_relative references.md %}{% endcapture %}
                {{ references | markdownify }}
            </section>
        </div>
    </article>
</body>
</html>
