<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    {% assign article = site.data.article %}
    {% assign sections = site.sections | sort:"order" %}
    {% assign figures = site.figures | sort:"order" %}

    <!-- metadata -->
    <title>{{ article.title }}</title>
    <meta name="description" content="{{ article.description }}">

    <!-- web components -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.6.0/webcomponents.min.js"></script>
    <link rel="import" href="https://peerj.github.io/research-article/components/research-article/research-article.html">

    <!-- MathJax -->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            messageStyle: "none",
            "HTML-CSS": {
                linebreaks: { automatic: true },
                scale: 80
            },
            menuSettings: {
                zoom: "Click"
            }
        });
    </script>

    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe"></script>
</head>
<body unresolved>
    <!-- article -->
    <article is="research-article" itemscope itemtype="http://schema.org/ScholarlyArticle">
        <!-- header -->
        <header>
            <!-- title -->
            <meta itemprop="name" content="{{ article.title }}">

            {% capture title %}# {{ article.title }}{% endcapture %}
            {{ title | markdownify }}

            <!-- data -->
            {% if article.date %}
              <div class="article-date">
                  <time itemprop="datePublished"
                      datetime="{{ article.date | date: '%Y-%m-%d' }}">{{ article.date | date: '%B %-d, %Y' }}</time>
              </div>
            {% endif %}

            <div id="authors">
              {% for author in article.authors %}
                {% include author.html %}
              {% endfor %}
            </div>

            <!-- header sections -->
            {% for section in sections %}
                {% if section.container == 'header' %}
                    {% include section.html %}
                {% endif %}
            {% endfor %}

            <div id="figure-thumbnails">
                {% for figure in figures %}
                    {% if figure.image %}
                    <a href="#figure-{{ figure.order }}" class="figure-thumbnail"><img src="{{ figure.image }}"></a>
                    {% endif %}
                {% endfor %}
            </div>
        </header>

        <!-- sections -->
        {% for section in sections %}
            {% unless section.container %}
                {% include section.html %}
            {% endunless %}
        {% endfor %}

        <!-- metadata -->
        <footer>
            {% if article.doi %}
                <!-- metrics -->
                <aside id="metrics" class="hidden-print">
                    <!--<h2>Metrics</h2>-->

                    <div class="altmetric-embed"
                        data-badge-type="medium-donut"
                        data-badge-details="below"
                        data-hide-no-mentions="true"
                        data-doi="{{ article.doi}}"></div>

                    <script src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js" async></script>
                </aside>

                <!-- doi -->
                <div id="doi">
                    <h2>DOI</h2>
                    <div><a href="https://dx.doi.org/{{ article.doi }}" itemprop="sameAs">{{ article.doi }}</a></div>
                </div>
            {% endif %}

            <!-- affiliations -->
            {% if article.affiliations %}
                <div id="affiliations">
                    <h2>Affiliations</h2>
                    {% for affiliation in article.affiliations %}
                      {% include affiliation.html %}
                    {% endfor %}
                </div>
            {% endif %}

            <!-- contributions -->
            {% if article.contributions %}
                <div id="contributions">
                    <h2>Contributions</h2>
                    {% for contribution in article.contributions %}
                      {% if contribution.contributors %}
                        {% include contribution.html %}
                      {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <!-- funders -->
            {% if article.funders %}
                <div id="funding">
                    <h2>Funding</h2>
                    {% for funder in article.funders %}
                        {% for award in funder.awards %}
                          {% include award.html %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <!-- keywords -->
            {% if article.keywords %}
                <div id="keywords" itemprop="keywords">
                    <h2>Keywords</h2>

                    <div class="inline-list">
                        {% for keyword in article.keywords %}
                            <span>{{ keyword }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- sidebar sections -->
            {% for section in sections %}
                {% if section.container == 'sidebar' %}
                    {% include section.html %}
                {% endif %}
            {% endfor %}

            <!-- figures -->
            {% if site.figures %}
                <div id="figures">
                    <h2>Figures</h2>
                    {% for figure in figures %}
                        <figure id="{{ figure.label | slugify }}">
                            <figcaption>
                                {% capture heading %}<a href="{{ site.baseurl }}{{ figure.url }}" class="figure-link">**{{ figure.label }}**</a>: {{ figure.title }}{% endcapture %}
                                {{ heading | markdownify }}

                                {{ figure.description | markdownify }}
                            </figcaption>

                            <div class="figure-wrap">
                                {% if figure.image %}
                                    <a href="{{ site.baseurl }}{{ figure.url }}" class="figure-link"><img src="{{ figure.image }}"></a>
                                {% else %}
                                    {{ figure.content | markdownify }}
                                {% endif %}
                            </div>
                        </figure>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- references -->
            <div id="references">
                <h2>References</h2>
                {% capture references %}{% include_relative references.md %}{% endcapture %}
                {{ references | markdownify }}
            </div>
        </footer>
    </article>
</body>
</html>
