---
---

@import "all.scss";

html {
    font-size: 10pt;
}

body {
    -webkit-print-color-adjust: exact;
    font-size: 10pt !important;
    background: none;
    line-height: 1.1;
    prince-linebreak-magic: auto;
    prince-image-resolution: 600dpi;
    /*prince-image-magic: jpeq-quality(90);*/
}

header {
    margin: 2rem 0;
}

article {
    display: block !important;
}

.modal {
    display: none;
}

dl {
    margin: 0.5rem 0;
}

dt,
dd {
    margin: 0;
    padding: 0;
}

dt {
    display: run-in;
}

dt:after {
    content: " ";
}

p {
    text-align: justify;
    margin-top: 0rem !important;
    /*margin-bottom: 0rem !important;*/
    margin-bottom: 0.2rem !important;
    line-height: 1.2;
    /*hyphens: auto;*/
}

/*
p:not(:first-of-type) {
    text-indent: 1em;
}
*/

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    page-break-after:avoid;
    font-family: "Helvetica Neue";
    font-weight: bold;
    color: #444;
}

h1 {
    margin-top: 1em;
    font-family: "Georgia", serif;
    font-size: 2rem;
    line-height: 1;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    background: inherit;
    color: #00a6fc;
    line-height: 1rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

p {
    orphans: 3;
    widows: 3;
}

a {
    text-decoration: none;
    color: #0076ac;
}

a[href]:after {
    content: none !important;
}

sup {
    line-height: 0;
}

figure img {
    max-height: 300pt;
    max-width: 100% !important;
    float: none !important;
    prince-image-resolution: normal;
}

figure {
    margin: 1rem 4rem 2rem 4rem;
    float: top unless-fit;
    border: none;
    page-break-inside: avoid;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #ddf;
}

figure .image-container {
    text-align: center;
}

[position="float"] {
    clear: none;
}

figcaption {
    text-align: left;
    padding: 1rem 1rem;
    font-size: 90%;
    font-family: "Gill Sans";
}

figcaption .heading {
    font-size: 100%;
    margin-bottom: 5px;
}

figure {
    float: top unless-fit;
    border-bottom: 1px solid #ddf;
    /*margin-left: -130pt;*/
}

caption {
    background: #eef;
    border-top: 2px solid #ddf;
    padding: 10px;
    font-family: "Gill Sans";
    font-size: 90%;
}

figure b {
    color: #00a6fc;
}

.figure-wrap, {
    max-width: 100%;
}

table {
    border-collapse:collapse;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 80%;
    max-width: 100%;
    margin-top: 10pt;
}

tbody tr:first-of-type td {
    border-top: 2px solid #ddf;
}

tbody tr:last-of-type td {
    border-bottom: 1px solid #ddf;
}

tbody tr:nth-child(odd) td {
    background: #eef;
}

tbody tr:nth-child(odd) td {
    background: #eef;
}

td, th {
    padding: 2px 5px;
}

table { page-break-inside:auto; page-break-after:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
td    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }

.references ul {
    font-size: 90%;
    list-style-type: none;
    padding: 0;
    padding-left: 0;
    margin: 0;
}

.references li {
    padding-left: 0;
    margin-bottom: 5pt;
}

section[data-section="abstract"] {
    padding: 1rem;
}

#authors-list {
    margin: 20px 0;
}

#authors-list > span {
    color: #333;
}

.label {
    vertical-align: super;
    font-size: smaller;
    color: #00a6fc;
}

[data-section=abstract] {
    background: #eef;
    padding: 12pt 0;
    border-bottom: 2px solid #07f;
}

[data-section=abstract] h2 {
    display: none;
}

.popover,
.nav,
.hide,
div[class^=annotator-] {
    display: none !important;
}

@page {
    prince-shrink-to-fit: auto;
    size: A4;
    margin: 20pt 40pt 40pt 20pt;

    @top-right {
        content: string(title);
        font-style: italic;
    }

    @bottom-right {
        content: counter(page);
        vertical-align: top;
        padding-top: 1em;
        font-size: 8pt;
    }

    @bottom-center {
        content: flow(citation);
        opacity: 0.7;
    }
}

@page:first {
    background: white url("logo.png") 10pt 10pt no-repeat;
    background-size: 100pt auto;
}

h1 { prince-bookmark-level: 1 }
h2 { prince-bookmark-level: 2 }
h3 { prince-bookmark-level: 3 }
h4 { prince-bookmark-level: 4 }
h5 { prince-bookmark-level: 5 }
h6 { prince-bookmark-level: 6 }
