---
---

@import "all.scss";
@import "layout.scss";

body {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.column {
    padding: 0 2rem 5rem;
}

header {
    min-height: 6rem;
    margin: 4rem 0;
}

h1 {
    font-weight: 100;
    font-size: 2em;
    margin: 0;
    text-align: center;
}

h2 {
    font-weight: 100;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 120%;
    font-weight: bold;
}

article p {
    font-size: 110%;
    color: #333;
}

#sidebar {
    overflow-x: hidden;
}

#figure-modal iframe {
    max-width: 100%;
    max-height: 100%;
}

#figure-modal .table {
    margin-bottom: 0;
}

[data-section=abstract] p {
    font-size: 120%;
}

[data-section=abstract] p:last-of-type {
    margin-bottom: 0;
}

#authors-list {
    font-size: 120%;
    margin-bottom: 2rem;
}

.author {
    margin: 2rem 0;
}

ul.contributions > li > ul {
    margin-left: 1rem;
}

#figures > figure:not(:last-of-type) {
    margin-bottom: 4rem;
}

.article-date {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 120%;
    font-weight: 100;
}

.has-background {
    margin: 0 -2rem 4rem;
    padding: 4rem 2rem 3rem;
    position: relative;
    color: white;
    overflow: hidden;
    text-align: left;
    text-shadow: 0 1px 1px black;
    box-shadow: 0 1px 1px black;
}

.has-background h1 {
    font-weight: 200;
    text-align: left;
}

.has-background .article-date {
    text-align: right;
    margin-top: 0;
}

.header-background {
    position: absolute;
    top: -1rem;
    left: -1rem;
    bottom: -1rem;
    right: -1rem;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    -webkit-filter: blur(1px);
    z-index: -1;
}
