---
---

body {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.column {
    padding: 0 2rem 5rem;
}

header {
    margin: 4rem 0;
}

h1 {
    font-weight: 100;
    font-size: 2em;
    margin: 0;
    text-align: center;
}

h2 {
    font-weight: 100;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 140%;
}

article p {
    font-size: 110%;
    color: #333;
}

#sidebar {
    overflow-x: hidden;
}

#figure-modal iframe {
    max-width: 100%;
    max-height: 100%;
}

#figure-modal .table {
    margin-bottom: 0;
}

[data-section=abstract] p {
    font-size: 120%;
}

[data-section=abstract] p:last-of-type {
    margin-bottom: 0;
}

iframe {
    border: 0;
}

[data-section=abstract] h2 {
    display: none;
}

.inline-list > span:not(:last-child):after {
    content: ", ";
}

figure img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

#authors {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.author {
    display: inline-block;
    vertical-align: middle;
    padding: 0.25em 0.5em;
    font-size: 110%;
    font-weight: 100;
}

.author a {
    color: inherit;
    display: inline-block;
    vertical-align: middle;
}

.author a:hover {
    color: blue;
    text-decoration: none;
}

.author [itemprop=email] {
    color: #aaa;
    position: relative;
    line-height: 0;
    top: -4px;
}

.author [itemprop=sameAs] {
  display: inline-block;
  color: transparent;
  width: 1em;
  position: relative;
  top: -2px;
  margin-right: 2px;
}

.author [itemprop=sameAs] img {
    width: 100%;
    height: 100%;
}

#figure-thumbnails {
  text-align: left;
  overflow-x: auto;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.figure-thumbnail {
  display: inline-block;
  margin-right: 0.5rem;
  max-height: 15rem;
  max-width: 15rem;
  padding: 0.5rem;
  background-color: #eee;
}

.figure-thumbnail:hover {
  box-shadow: 0 1px 2px #aaa;
}

.figure-thumbnail img {
  max-height: 100%;
  max-width: 100%;
}

#figures > figure:not(:last-of-type) {
    margin-bottom: 4rem;
}

.article-date {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 120%;
    font-weight: 100;
}
