---
---

body {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.column {
    padding: 0 2rem 5rem;
}

header {
    margin: 4rem 0;
}

h1 {
    font-weight: 100;
    font-size: 2em;
    margin: 0;
    text-align: center;
}

h2 {
    font-weight: 100;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 140%;
}

article p {
    font-size: 110%;
    color: #333;
}

#sidebar {
    overflow-x: hidden;
}

#figure-modal iframe {
    max-width: 100%;
    max-height: 100%;
}

#figure-modal .table {
    margin-bottom: 0;
}

[data-section=abstract] p {
    font-size: 120%;
}

[data-section=abstract] p:last-of-type {
    margin-bottom: 0;
}

iframe {
    border: 0;
}

[data-section=abstract] h2 {
    display: none;
}

.inline-list span:not(:last-child):after {
    content: ", ";
}

figure img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.author {
    margin: 2rem 0;
    font-size: 110%;
}

#figures > figure:not(:last-of-type) {
    margin-bottom: 4rem;
}

.article-date {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 120%;
    font-weight: 100;
}
